
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
  color: #333;
}

.navbar {
  background-color: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo {
  height: 40px;
}

.checkout-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  gap: 40px;
}
 
.left-section {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  flex: 1;
  margin-block-start: 50px;
}

.left-section h1 {
  font-size: 24px;
  margin-bottom: 40px;
}

.left-section label {
  display: block;
  font-weight: bold;
  margin-top: 18px;
  margin-bottom: 5px;
  padding: 20px;
}

.left-section input {
  width: 90%;
  margin: center;
  padding: 15px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  align-items: center ;
  color: #333;
}

.required {
  color: red;
}

.right-section {
  width: 40%;
  display: 1;
  justify-content: center; /* horizontally center the order-summary */
}

.order-summary {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px 50px;
  width: 100%; /* take full width of .right-section */
  max-width: 800px; /* control maximum width */
  box-sizing: border-box;
  margin-block-start: 50px;
}

.order-summary h2 {
  font-size: 18px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.product-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.product-item img {
  width: 70px;
  height: auto;
  border-radius: 8px;
}

.product-info {
  flex-grow: 1;
}

.product-info p {
  font-size: 14px;
  color: #555;
}

.price {
  font-weight: bold;
  color: #000;
}

.button-group {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button-order {
  padding: 15px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  
}

.button-order {
  background-color: #d32f2f;
  color: white;
}

.button-order:hover {
  background-color: #b71c1c;
}

.button-back {
  background-color: #f1f1f1;
  color: #333;
}

.button-back:hover {
  background-color: #ddd;
}
